{
	"extends": "@martin-kolarik/eslint-config",
	"ignorePatterns": [
		"coverage/**"
	],
	"globals": {
		"_": false,
		"db": false,
		"log": false,
		"redis": false,
		"logger": false,
		"Bluebird": false,
		"apmClient": false
	},
	"plugins": [
		"html"
	],
	"overrides": [
		{
			"files": [
				"test/**"
			],
			"globals": {
				"server": false,
				"chaiSnapshotInstance": false
			}
		}
	]
}
