# Default ignored files
/workspace.xml

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Editor-based HTTP Client requests
/httpRequests/

# Other local files
/dictionaries/
/shelf/

# All other XML files except the explicitly allowed ones
/*.xml
!/dataSources.xml
!/encodings.xml
!/jsLibraryMappings.xml
!/modules.xml
!/sqldialects.xml
!/watcherTasks.xml
